
{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filters %}

<div class="container-fluid mt-3">
    <div class="row">
        <!--      Filters       -->
        <div class="col-lg-2 mx-auto">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action">All Products</a>
                {% for category in categories %}
                <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>

        <!--      Products      -->
        <div id='products' class="col-lg-10 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-auto mb-3" id="product{{product.id}}" style="width: 18rem;">
                    <img src="{{product.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text"><b>{{product.price|currency}}</b></p>
                    </div>

                    <!--Add to Cart buttons-->
                    <div class="card-footer p-0">
                        {% if product|is_in_cart:request.session.cart %}
                        <div class="row">
                            <form action="#product{{product.id}}" method="post" class="btn-block row col-3">
                                {% csrf_token %}
                                <input hidden type="text" name="product_id" value="{{product.id}}">
                                <input hidden type="text" name="remove" value="1">
                                <input type="submit" class="btn btn-block btn-secondary" value=" - ">
                            </form>
                            <div class="mt-2 text-center col">{{product|product_count:request.session.cart}} in Cart</div>
                            <form action="#product{{product.id}}" method="post" class="btn-block row col-3">
                                {% csrf_token %}
                                <input hidden type="text" name="product_id" value="{{product.id}}">
                                <input hidden type="text" name="remove" value="0">
                                <input type="submit" class="btn btn-block btn-secondary" value=" + ">
                            </form>
                        </div>
                        {% else %}
                        <form action="#product{{product.id}}" method="post" class="btn-block row">
                            {% csrf_token %}
                            <input hidden type="text" name="product_id" value="{{product.id}}">
                            <input hidden type="text" name="remove" value="0">
                            <input type="submit" class="float-right btn btn-block btn-light form-control" value="Add to Cart">
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </div>
  </div>

{% endblock %}
  
